body {
    opacity: 0;
}

body.shown {
    opacity: 1;
    transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
}

h4 {
    text-decoration: underline;
}

label {
    font-weight: bold;
}

dl:not(:last-child) {
    border-bottom: dashed 1px black;
    padding-bottom: 4px;
}

dd {
    margin-bottom: 6px;
}

hr {
    margin: 8px 24px;
    border-top: 1px dashed;
    border-bottom: none;
}

.ghost {
    opacity: 0.4;
    transition: opacity 1000ms linear;
    -moz-transition: opacity 1000ms linear;
}

.options-control {
    margin-left: 4px;
}

#filename-pattern-display-textbox {
    width: 360px;
}

#max-filename-subject-length-textbox {
    width: 54px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 48px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.modal-overlay.hidden {
    display: none;
}

#filename-editor-div {
    background-color: white;
    max-height: 100%;
    width: 100%;
    padding: 16px;
    overflow-y: auto;
}

#pattern-panel {
    margin-bottom: 6px;
    padding: 6px;
    background-color: antiquewhite;
    border: solid 1px goldenrod;
}

#pattern-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

#pattern-content {
    grid-area: pt-content;
    display: flex;
    align-content: stretch;
}

#edit-buttons-panel {
    grid-area: pt-buttons;
    display: flex;
    justify-content: end;
}

#placeholders-label {
    margin-top: 24px;
    margin-bottom: 6px;
    padding: 6px;
    background-color: antiquewhite;
    border: solid 1px goldenrod;
}

#placeholders-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6px;
}

#placeholders-panel label {
    font-weight: normal;
}

#sample-result-label {
    grid-area: sample-label;
}

#sample-result-panel {
    height: 16px;
    width: 100%;
    text-align:center;
}

#buttons-panel {
    grid-area: buttons;
    display: flex;
    justify-content: end;
}

#folder-buttons-panel {
    grid-area: buttons;
    display: flex;
    justify-content: end;
    padding: 16px;
}

#fp-textbox {
    flex-grow: 1;
    outline: none;
    border: solid 2px green;
    font-family: "Lucida Console";
    font-size: 13pt;
}

#fp-textbox::selection,
#fp-textbox::-moz-selection {
    background-color: goldenrod;
}

#fp-textbox.invalid {
    border: solid 2px red;
}

#sample-result-panel span {
    text-decoration: underline dotted;
}

.placeholder-select {
    min-width: 140px;
}

.sample-label {
/*    margin-right: 12px;   */
    white-space: nowrap;
    color: #00000064;
}

.fp-editor-button {
    min-width: 52px;
    min-height: 24px;
    margin-left: 6px;
    text-align: center;
}

.editor-checkbox-label {
    font-weight: normal;
}

#automation-folders-selector-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: white;
}

.account-panel {
    margin: 4px;
}

.account-name-div {
    background-color: antiquewhite;
    border: solid 1px goldenrod;
    padding: 4px;
}

.folder-path-label {
    font-weight: normal;
}

.link-button:hover {
    text-decoration: none;
    cursor: pointer;
}

.link-button {
    border: none;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}


/* Reorg */

html {
    height: 100vh;
}

body {
    height: 100vh;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0px; 
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 46px;
}

.nav-button {
    opacity: .5;
    background-color: antiquewhite;
    border-color: goldenrod;
    color: darkgoldenrod;
    font-weight: bold;
}

.nav-button.selected {
    opacity: 1;
}

.section-tab {
    display: none;
}

.section-tab.selected {
    display: initial;
}

#current-save-directory-panel {
    padding: 2px;
    background-color: aliceblue;
    border: solid 1px #6262d9;
}