html {
    height: 100vh;
    width: 100vw;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.transparent {
    opacity: 0.0;
}

.ghost {
    opacity: 0.4;
    transition: opacity 1000ms linear;
    -moz-transition: opacity 1000ms linear;
}


.spinner-logo-div {
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

#spinner-logo-div {
    background-color: white;
    border: solid 2px #d3d3d3b8;
    height: 42px;
    width: 44px;
}

#zip-spinner-logo-div {
    height: 52px;
    width: 52px;
}

@keyframes logo-spin {
    0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    33.33% { transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg); }
    66.67% { transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); }
    100% { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}


#logo-img {
    height: 100%;
    width: 100%;
}

#zip-logo-img {
    height: 44px;
    width: 44px;
}

.logo-img.initializing {
    animation: logo-spin 4.5s 1;
}

.logo-img.rotating {
    animation: logo-spin 4.5s infinite;
}

#flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("tiled_paperclip.png") center/124px repeat;
}

#flex-container.modal {
    position: absolute;
    overflow: clip;
    width: 100vw;
}

#quickmenu-section {
    justify-content: space-evenly;
}

#quickmenu-section > div:not(:last-child) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quickmenu-button {
    height: 62px;
    width: 160px;
    margin: 4px 20px;
    flex-shrink: 0;
}

#quickmenu-footer-div {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

#quickmenu-footer-div > div {
    margin: 0px 36px;
}

#quickmenu-footer-div > div:last-child {
    align-self: end;
    padding-top: 16px;
}

#quickmenu-edit-file-type-filter-button {
    margin-left: 24px;
}

#quickmenu-file-type-filter-list-div,
#quickmenu-tag-messages-description-div {
    padding-left: 26px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 48px;
    height: 46px;
    width: 100vw;
    background-color: rgb(233, 233, 237);
}

section {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0px;
}

.nav-button.active {
    background-color: white;
    font-weight: bold;
    border-bottom: none;
}

.nav-button[context='list'].active {
    border-right: transparent;
}

.tab-content-div {
    flex: 1;
    overflow: auto;
}

.tab-content-div[context='summary'] {
    display: grid;
    grid-template-columns: 1fr 140px;
    opacity: 0.0;
}

.tab-content-div[context='summary'].materialize {
    opacity: 1.0;
    transition: opacity 750ms ease-in;
    -moz-transition: opacity 750ms ease-in;
}


.tab-content-div[context='list'] {
    display: grid;
    grid-template-rows: 48px 1fr;
}

#list-header-div {
    display: grid;
    grid-template-columns: 1fr 140px;
    justify-content: space-between;
    padding: 6px 10px;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(148,145,145,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(148,145,145,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(148,145,145,0.75);
}

#list-header-div div {
    font-weight: bold;
    align-self: center;
}

#toggle-selected-attachments-checkbox {
    margin-left: 4px;
}

#summary-buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding: 12px
}

.summary-button {
    height: 40px;
}

#summary-buttons-div hr {
    height: 1px;
    width: 100%;
    margin: 0px;
    background-color: black;
    border: none;
}

#use-file-type-filter-link-div,
#tag-messages-container:not(.hidden) {
    display: flex;
}

#use-file-type-filter-link-button:disabled {
    text-decoration: none;
    color: black;
}

#discover-attachments-progress {
    width: 100%;
}

#stats-table {
    width: 100%;
    margin-top: 12px;
    border-spacing: 0px;
}

.folders-column {
    background-color: rgba(207, 226, 255, 0.369);
}

.attachments-column {
    background-color: rgba(255, 228, 196, 0.369);
}

.embeds-column {
    background-color: rgba(255, 254, 196, 0.369);
}

td {
    text-align: center;
}

th.summary-header {
    padding-top: 6px;
}

td.summary-header {
    font-weight: bold;
}

#stats-summary-tr {
    background: rgba(128,128,128,.2);
}

#with-attachments-label {
    display: flex;
    justify-content: center;
}

#paperlcip_char {
    height: 20px;
    width: 20px;
}

#stats-table tbody .folder-td {
    text-align: left;
}
#stats-table tbody .folder-td.virtual {
    background-color: rgba(247, 202, 217, 0.651);
}

.processed-message-count-td.queued {
    background-color: rgba(147, 112, 219, 0.18);
}

.processed-message-count-td.complete {
    background-color: rgb(152, 251, 152, 0.46);
}

#stats-summary-tbody .processing {
    background: linear-gradient(90deg, rgba(152, 251, 152, .8) 0%, transparent 50%, rgba(152, 251, 152, .8) 100%);
    background-size: 200% 100%;
    animation: processingSlider linear infinite 2s;
    transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
}

#stats-table tfoot {
    height: 12px;
}

#stats-table.omit-embeds td:last-child {
    opacity: .15;
}

@keyframes processingSlider {
    0% {
        background-position-x: 150%
    }
    100% {
        background-position-x: -50%
    }
}

#stats-summary-tbody .processing.processed {
    background: transparent;
    transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
}

.link-button {
    border: none;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

.link-button:hover {
    text-decoration: none;
    cursor: pointer;
}

.link-button:active {
    color: orange;
}

.link-button:disabled:hover {
    cursor: not-allowed;
}

.link-button:disabled:active {
    color: unset;
}

#attachment-list-div {
    padding: 4px;
    overflow-y: auto;
}

.attachment-grouping-header {
    width: 100%;
    padding: 6px 0px 6px 4px;
    background-color:  rgba(207, 226, 255, 0.369);
    border-top: solid 1px blue;
    border-bottom: solid 1px blue;    
    color: red;
}

.attachment-panel {
    width: 100%;
    display: grid;
    column-gap: 4px;
    row-gap: 2px;
    grid:
        'selector   name    name    size    preview'
        'selector   author  author  date    preview'
        'ext        subject subject subject preview';
    grid-template-rows: 20px 20px auto;
    padding-top: 2px;
    padding-bottom: 2px;
 }

 .attachment-panel:not(.first-in-group) {
    border-top: 1px dashed black;
 }

.attachment-panel.none {
    grid-template-columns: 36px 140px auto 140px 0px;
}

.attachment-panel.sm {
    grid-template-columns: 36px 140px auto 140px 104px;
}

.attachment-panel.md {
    grid-template-columns: 36px 140px auto 140px 154px;
}

.attachment-panel.lg {
    grid-template-columns: 36px 140px auto 140px 204px;
}

.attachment-checkbox {
    grid-area: selector;
}

.extension-label {
    grid-area: ext;
    text-align:center;
    color: red;
}

.file-name-label {
    grid-area: name;
    font-weight: bold;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.author-label {
    grid-area: author;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.subject-label {
    grid-area: subject;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.message-date-label {
    grid-area: date;
    text-align: right;
}

.file-size-label {
    grid-area: size;
    text-align: right;
}

.preview-wrapper {
    grid-area: preview;
    display: flex;
    justify-content: center;
    align-items: center;
 /*   background-color: gainsboro;
    border: 1px solid black; */
    padding: 2px;
    color: red;
}

.preview-wrapper.none {
    display: none;
}

.preview-wrapper.sm {
    width: 104px;
    height: 104px;
}

.preview-wrapper.md {
    width: 154px;
    height: 154px;
}

.preview-wrapper.lg {
    width: 204px;
    height: 204px;
}

.preview-image {
    object-fit: contain;
    width: auto;
    height: auto;
    /* font-family: 'Brush Script MT', cursive; */
    font-size: 24pt;
    border: solid 1px black;
}

.preview-image.error {
    border: none;
}

.preview-image.sm {
    max-width: 100px;
    max-height: 100px;
}

.preview-image.md {
    max-width: 150px;
    max-height: 150px;
}

.preview-image.lg {
    max-width: 200px;
    max-height: 200px;
}

.preview-image:not(.error) {
    cursor: zoom-in;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 48px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#zoom-image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding: 12px;
    background-color: white;
    z-index: 2;
}

#zip-panel {
    width: 100%;
    height: 100%;
    max-height: 900px;
    background: white url("tiled_paperclip.png") center/124px repeat;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    text-align: center;
}

#zip-panel-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 52px;
}

#zip-extract-panel-body {
    display: grid;
    place-items: center;
}

#zip-table {
    border-collapse: collapse;
}

#file-type-filter-applied-div {
    background-color: antiquewhite;
}

#exclusions-row {
    background-color: rgba(255, 207, 207, 0.37);
}

#zip-operation-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.last-filename-div {
    width: 100%;
    background-color: rgba(192, 192, 192, .25);
    margin: 8px 0px;
}

#zip-detach-panel-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#zip-attachment-context-div {
    text-align: left;
    padding-left: 18px;
}

#zip-account-name-label {
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
}

.last-filename-div {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#packaging-div, #save-result-div, #detach-operation-row, #detach-result-div {
    opacity: 0.0;
}

#packaging-div.materialize, #save-result-div.materialize,
#detach-operation-row.materialize, #detach-result-div.materialize {
    opacity: 1.0;
    transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
}

#save-result-div, #detach-result-div {
    position: relative;
    margin: 8px;
    padding: 8px;
}

#save-result-border-div, #detach-result-border-div {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: transparent;
    border-radius: 10px;
    clip-path: inset(0 0 0 100%);    
}

@keyframes save-result {
    from { clip-path: inset(0 0 0 100%); }
    to { clip-path: inset(0); }
}

#save-result-border-div.success, #detach-result-border-div.success {
    border: solid 6px green;
    animation: save-result 1.5s forwards;
}

#save-result-border-div.error, #detach-result-border-div.error {
    border: solid 6px red;
    animation: save-result 1.5s forwards;
}

.save-result-content-div {
    position: relative;
}

.result-button-container {
    display: flex;
    justify-content: center;
}

.zip-operation-label {
    font-weight: bold;
}

.close-button {
    height: 40px;
    min-width: 100px;
    margin: 8px;
}

.permanently-detach-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#detach-warning-message {
  width: 80%;
  padding: 8px 20%;
}

#permanently-detach-button {
    width: 146px;
}

#detach-action-buttons-div {
    display: flex;
}

.hazard-image {
    height: 24px;
    padding-right: 12px;
}

#release-notes-close-panel {
    background: white url("tiled_paperclip.png") center/124px repeat;
    height: 90vh;
    width: 90vw;
    padding: 8px;
    overflow-y: auto;
}

#download-folders-panel {
    background-color:white;
    padding: 8px;
}

#download-folders-item-container > div {
    margin-top: 8px;
}

#close-release-notes-button, #close-download-folders-button {
    float: right;
}

.notice-panel {
    background-color: #ca444469;
    border: solid 1px red;
    padding: 4px;
}

#imap-detachment-notice,
#detach-include-inline-notice {
    margin-top: 8px;
}

#flex-container.prompt {
    justify-content: center;
}

.prompt-message-item {
    text-align: center;
}